{
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "promise", "import", "react", "react-hooks", "jsx-a11y", "jest"
  ],
  "rules": {
    "linebreak-style": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-curly-brace-presence": [1, "ignore"],
    "react/forbid-prop-types": [1,
      {
        "forbid": ["any"],
        "checkContextTypes": false,
        "checkChildContextTypes": false
      }
    ],
    "no-restricted-exports": [
      "error",
      {
        "restrictedNamedExports": ["default"]
      }
    ],
    "import/no-unresolved": "warn",
    "import/prefer-default-export": 0,
    "import/extensions": [
      2,
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never"
      }
    ],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}