@import '../../constants/scss/variables.scss';

.section {
  padding-top: 30px;
}

.postsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  list-style-type: none;

  @media screen and (min-width: $breakpoint-min-tablet) {
    max-width: 500px;
    margin-left: 30%;
  }

  @media screen and (min-width: $breakpoint-min-desktop) {
    max-width: 800px;
  }
}
