@import '../../constants/scss/variables.scss';

.postsList {
  max-width: 80%;
  padding-left: 0;
  list-style-type: none;

  @media screen and (min-width: $breakpoint-min-tablet) {
    max-width: 70%;
    margin-left: 20%;
  }
}
